<h3>Update Project:</h3>

  <form action="/projects/<%= @project.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="project[name]">Name: </label><input type="text" name="project[name]" value="<%= @project.name%>" required>
    <label for="project[status]">Status: </label>
    <% if @project.status == "In Progress" %>
      <select name="project[status]">
        <option value="In Progress" selected> In Progress </option>
        <option value="Upcoming"> Upcoming </option>
        <option value="Finished"> Finished </option>
      </select>
    <% elsif @project.status == "Upcoming" %>
      <select name="project[status]">
        <option value="In Progress"> In Progress </option>
        <option value="Upcoming" selected> Upcoming </option>
        <option value="Finished"> Finished </option>
      </select>
    <% else %>
      <select name="project[status]">
        <option value="In Progress"> In Progress </option>
        <option value="Upcoming"> Upcoming </option>
        <option value="Finished" selected> Finished </option>
      </select>
    <% end %>
    <br>
    <label for="project[pattern_info]">Pattern Information: </label><input type="text" name="project[pattern_info]" value="<%= @project.pattern_info%>"><br>
    <label for="project[notes]">Notes: </label><br>
    <textarea rows="5" cols="60" name="project[notes]" value="<%= @project.notes%>"></textarea><br>

    <p>Select Yarn:</p>
    <% current_user.yarns.each do |yarn| %>
      <% if @project.yarns.include?(yarn) %>
        <input type="checkbox" name="yarns[ids][]" value="<%= yarn.id %>" checked><%= yarn.brand.name %> - <%= yarn.color %>  ~  Currently in this project.<br>
      <% else %>
        <% if yarn.project.name == "Stash" %>
          <input type="checkbox" name="yarns[ids][]" value="<%= yarn.id %>"><%= yarn.brand.name %> - <%= yarn.color %><br>
        <% else %>
          <input type="checkbox" name="yarns[ids][]" value="<%= yarn.id %>"><%= yarn.brand.name %> - <%= yarn.color %>  ~  Project: <%= yarn.project.name %><br>
        <% end %>
      <% end %>
    <% end %>

    <p>Select Tools/Accessories:</p>
    <% current_user.accessories.each do |acc| %>
      <% if @project.accessories.include?(acc) %>
        <input type="checkbox" name="accessories[ids][]" value="<%= acc.id %>" checked><%= acc.name %>  ~  Currently in this project.<%= acc.project.name %><br>
      <% else %>
        <% if acc.project.name == "Stash" %>
          <input type="checkbox" name="accessories[ids][]" value="<%= acc.id %>"><%= acc.name %><br>
        <% else %>
          <input type="checkbox" name="accessories[ids][]" value="<%= acc.id %>"><%= acc.name %>  ~  Project: <%= acc.project.name %><br>
        <% end %>
      <% end %>
    <% end %>

    <br>

    <input type="submit" value="Update">
  </form>
