<h1>Your Projects</h1>
<% if !@wip.empty? %>
  <h3>In Progress:</h3>
    <% @wip.each do |project| %>
    <div>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
    </div>
    <% end %>
<% end %>

<% if !@upcoming.empty? %>
  <h3>Upcoming:</h3>
    <% @upcoming.each do |project| %>
    <div>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
    </div>
    <% end %>
<% end %>

<% if !@finished.empty? %>
  <h3>Finished:</h3>
    <% @finished.each do |project| %>
    <div>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
    </div>
    <% end %>
<% end %>

<a href="/projects/<%= current_user.stash.id %>">Visit your Stash</a>

<form action="/projects/new" method="get">
  <input type="submit" value="Add Project">
</form>
