<h2>Add a new project:</h2>

<form action="/projects/new" method="post">
  <label for="project[name]">Name: </label><input type="text" name="project[name]" required>
  <label for="project[status]">Status: </label>
  <select name="project[status]">
  	<option value="In Progress" selected> In Progress </option>
  	<option value="Upcoming"> Upcoming </option>
  	<option value="Finished"> Finished </option>
  </select>
  <br>
  <label for="project[pattern_info]">Pattern information: </label><input type="text" name="project[pattern_info]"><br>
  <label for="project[notes]">Notes/Description: </label><br>
  <textarea rows="5" name="project[notes]"></textarea><br>

  <p>Select Yarn:</p>
  <% current_user.yarns.each do |yarn| %>
    <input type="checkbox" name="yarns[ids]][]" value="<%= yarn.id %>"><%= yarn.brand.name %> - <%= yarn.color %>  ~  Current Project: <%= yarn.project.name %><br>
  <% end %>

  <p>Select Tools/Accessories:</p>
  <% current_user.accessories.each do |acc| %>
    <input type="checkbox" name="accessories[ids][]" value="<%= acc.id %>"><%= acc.name %>  ~  Current Project: <%= acc.project.name %><br>
  <% end %>

  <br>

  <input type="submit" value="Create Project">
</form>
