<h1>View my crafting stash:</h1>

<p>Notes:  <%= @project.notes %></p>

<% if !@project.yarns.empty? %>
  <h3>My Extra Yarn:</h3>

  <% @project.yarns_sorted.each do |yarn| %>
    <div>
      <% if yarn.count && yarn.scrap %>
        <% if yarn.scrap.to_f == 0.0 && yarn.count == 1 %>
          <p><a href="/brands/<%= yarn.brand.id %>"><%= yarn.brand.name %></a> - <a href="/yarns/<%= yarn.id %>"><%= yarn.color %></a> (Size <%= yarn.brand.weight %>, <%= yarn.brand.material %> - <%= yarn.count %> skein)</p>
        <% elsif yarn.scrap.to_f == 0.0 && yarn.count > 1 %>
          <p><a href="/brands/<%= yarn.brand.id %>"><%= yarn.brand.name %></a> - <a href="/yarns/<%= yarn.id %>"><%= yarn.color %></a> (Size <%= yarn.brand.weight %>, <%= yarn.brand.material %> - <%= yarn.count %> skeins)</p>
        <% elsif yarn.count == 1 %>
          <p><a href="/brands/<%= yarn.brand.id %>"><%= yarn.brand.name %></a> - <a href="/yarns/<%= yarn.id %>"><%= yarn.color %></a> (Size <%= yarn.brand.weight %>, <%= yarn.brand.material %> - <%= yarn.count %> skein, <%= yarn.scrap.to_f %> oz. scrap)</p>
        <% elsif yarn.count > 1 %>
          <p><a href="/brands/<%= yarn.brand.id %>"><%= yarn.brand.name %></a> - <a href="/yarns/<%= yarn.id %>"><%= yarn.color %></a> (Size <%= yarn.brand.weight %>, <%= yarn.brand.material %> - <%= yarn.count %> skeins, <%= yarn.scrap.to_f %> oz. scrap)</p>
        <% end %>
      <% elsif yarn.count && yarn.count == 1 %>
        <p><a href="/brands/<%= yarn.brand.id %>"><%= yarn.brand.name %></a> - <a href="/yarns/<%= yarn.id %>"><%= yarn.color %></a> (Size <%= yarn.brand.weight %>, <%= yarn.brand.material %> - <%= yarn.count %> skein)</p>
      <% elsif yarn.count && yarn.count > 1 %>
        <p><a href="/brands/<%= yarn.brand.id %>"><%= yarn.brand.name %></a> - <a href="/yarns/<%= yarn.id %>"><%= yarn.color %></a> (Size <%= yarn.brand.weight %>, <%= yarn.brand.material %> - <%= yarn.count %> skeins)</p>
      <% elsif yarn.scrap %>
        <p><a href="/brands/<%= yarn.brand.id %>"><%= yarn.brand.name %></a> - <a href="/yarns/<%= yarn.id %>"><%= yarn.color %></a> (Size <%= yarn.brand.weight %>, <%= yarn.brand.material %> - <%= yarn.scrap.to_f %> oz. scrap)</p>
      <% end %>
    </div>
  <% end %>

<% end %>

<% if !@project.accessories.empty? %>
  <h3>My Extra Accessories:</h3>
  <% @project.accessories.each do |acc| %>
    <p><a href="/accessories/<%= acc.id %>"><%= acc.name %></a>
    <% if acc.project != @project %>
      ~ Current Project: <a href="/projects/<%= acc.project.id %>"><%= acc.project.name %>
    <% end %></p>
  <% end %>
<% end %>

<% if current_user == @project.user %>
  <form action="/projects/<%= @project.id %>/edit" method="get">
    <input type="submit" value="Update Stash">
  </form>
<% end %>
