<h1><%= @project.name %></h1>

<p></p>

<h1>THIS NEEDS TO BE FILLED IN!!!!!</h1>

<p></p>

<h4>Project Yarn:</h4>
<% @project.yarns.each do |yarn| %>
  <p><a href="/brands/<%= yarn.brand.id %>"><%= yarn.brand.name %></a> - <a href="/yarns/<%= yarn.id %>"><%= yarn.color %></a></p>
<% end %>

<h4>Project Accessories:</h4>
<% @project.accessories.each do |acc| %>
  <p><a href="/accessories/<%= acc.id %>"><%= acc.name %></a></p>
<% end %>

<% if current_user == @project.user %>
  <form action="/projects/<%= @project.id %>/edit" method="get">
    <input type="submit" value="Update Project">
  </form>

  <form action="/projects/<%= @project.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Project">
  </form>
<% end %>
