<h1>Your Accessories</h1>

<% current_user.yarns.each do |yarn| %>
  <div>
    <h3><%= yarn.brand.name %> - <%= yarn.color %></h3>
    <p>Current Project: <%= yarn.project.name %></p>

    <form action="/yarns/<%= yarn.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">

      <select name="project_id">
        <% current_user.projects.each do |project| %>
          <option value="<%= project.id %>"> <%= project.name %> </option>
        <% end %>
      </select>
      <input type="submit" value="Update Project">
    </form>

    <form action="/yarns/<%= yarn.id %>/edit" method="get">
      <input type="submit" value="Update Yarn">
    </form>

    <form action="/accessories/<%= acc.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Yarn">
    </form>
  </div>
<% end %>

<br>

<form action="/yarns/new" method="get">
  <input type="submit" value="Add Yarn">
</form>
