<h1>Your Yarn Brands</h1>

<% if !@lace.empty? %>
  <h3>0 - Lace Weight:</h3>
    <% @lace.each do |brand| %>
      <div>
        <a href="/brands/<%= brand.id %>"><%= brand.name %> - <%= brand.material %></a>
      </div>
    <% end %>
<% end %>

<% if !@sock.empty? %>
  <h3>1 - Super Fine Weight:</h3>
    <% @sock.each do |brand| %>
      <div>
        <a href="/brands/<%= brand.id %>"><%= brand.name %> - <%= brand.material %></a>
      </div>
    <% end %>
<% end %>

<% if !@fine.empty? %>
  <h3>2 - Fine Weight:</h3>
    <% @fine.each do |brand| %>
      <div>
        <a href="/brands/<%= brand.id %>"><%= brand.name %> - <%= brand.material %></a>
      </div>
    <% end %>
<% end %>

<% if !@light.empty? %>
  <h3>3 - Light Weight:</h3>
    <% @light.each do |brand| %>
      <div>
        <a href="/brands/<%= brand.id %>"><%= brand.name %> - <%= brand.material %></a>
      </div>
    <% end %>
<% end %>

<% if !@medium.empty? %>
  <h3>4 - Medium Weight:</h3>
    <% @medium.each do |brand| %>
      <div>
        <a href="/brands/<%= brand.id %>"><%= brand.name %> - <%= brand.material %></a>
      </div>
    <% end %>
<% end %>

<% if !@bulky.empty? %>
  <h3>5 - Bulky Weight:</h3>
    <% @bulky.each do |brand| %>
      <div>
        <a href="/brands/<%= brand.id %>"><%= brand.name %> - <%= brand.material %></a>
      </div>
    <% end %>
<% end %>

<% if !@super_bulky.empty? %>
  <h3>6 - Super Bulky Weight:</h3>
    <% @super_bulky.each do |brand| %>
      <div>
        <a href="/brands/<%= brand.id %>"><%= brand.name %> - <%= brand.material %></a>
      </div>
    <% end %>
<% end %>

<% if !@jumbo.empty? %>
  <h3>7 - Jumbo Weight:</h3>
    <% @jumbo.each do |brand| %>
      <div>
        <a href="/brands/<%= brand.id %>"><%= brand.name %> - <%= brand.material %></a>
      </div>
    <% end %>
<% end %>

<% if !@novelty.empty? %>
  <h3>Novelty Yarn:</h3>
    <% @novelty.each do |brand| %>
      <div>
        <a href="/brands/<%= brand.id %>"><%= brand.name %> - <%= brand.material %></a>
      </div>
    <% end %>
<% end %>

<br>

<form action="/brands/new" method="get">
  <input type="submit" value="Add a Yarn Brand">
</form>
