<h3><%= @brand.name %></h3>
<p>Material: <%= @brand.material %></p>
<p>Gauge: <%= @brand.weight %></p>
<p>Skein size: <%= @brand.skein_weight %>oz, <%= @brand.skein_length %>yd</p>
<p>Recommended Hook / Needle: <%= @brand.hook %>, <%= @brand.needle %></p>

<form action="/brands/<%= @brand.id %>/edit" method="get">
  <input type="submit" value="Update Brand">
</form>

<form action="/brands/<%= @brand.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Brand">
</form>
