<h2>Add multiple yarns to your stash:</h2>
<p>Add up to 10 yarns to your stash at one time. However, you can only create one new brand of yarn and/or one new project at a time.</p>
<p>* If no project is selected, new yarn will default to your "Stash" project. *</p>

  <form action="/yarns/new_bulk" method="post">

  <h3>Create a new brand:</h3>
    <label for="brand[name]">Brand Name: </label><input type="text" name="brand[name]"><br>
    <label for="brand[material]">Select Material: </label>
    <select name="brand[material]">
      <option value="Acrylic" selected> Acrylic </option>
      <option value="Cotton"> Cotton </option>
      <option value="Wool"> Wool </option>
      <option value="Specialty"> Specialty </option>
    </select><br>
    <label for="brand[weight]">Select Gauge: </label>
    <select name="brand[weight]">
      <option value="0"> 0 - Lace </option>
      <option value="1"> 1 - Super Fine </option>
      <option value="2"> 2 - Fine </option>
      <option value="3"> 3 - Light </option>
      <option value="4" selected> 4 - Medium </option>
      <option value="5"> 5 - Bulky </option>
      <option value="6"> 6 - Super Bulky </option>
      <option value="7"> 7 - Jumbo </option>
      <option value="Novelty"> Novelty </option>
    </select><br>
    <label for="brand[skein_weight]">Skein weight: </label><input type="text" name="brand[skein_weight]"> oz<br>
    <label for="brand[skein_length]">Skein length: </label><input type="text" name="brand[skein_length]"> yd<br>
    <label for="brand[hook]">Recommended crochet hook: </label><input type="text" name="brand[hook]"><br>
    <label for="brand[needle]">Recommended knitting needle: </label><input type="text" name="brand[needle]"><br>

  <h3>Create a new project:</h3>
      <label for="project[name]">Project Name: </label><input type="text" name="project[name]">
      <label for="project[status]">Status: </label>
      <select name="project[status]">
      	<option value="In Progress" selected> In Progress </option>
      	<option value="Upcoming"> Upcoming </option>
      	<option value="Finished"> Finished </option>
      </select>
      <br>
      <label for="project[pattern_info]">Pattern information: </label><input type="text" name="project[pattern_info]"><br>
      <label for="project[notes]">Notes/Description: </label><br>
      <textarea rows="2" cols="60" name="project[notes]"></textarea><br>
      <br>

  <h2>Add new yarn to your stash:</h2>
    <div>
      <label for="yarn[][brand_id]">Select a brand: </label>
        <select name="yarn[][brand_id]">
          <% current_user.brands.each do |brand| %>
            <option value="<%= brand.id %>"> <%= brand.name %> </option>
          <% end %>
          <option value="" selected> Add to New Brand </option>
        </select><br>

      <label for="yarn[][color]">Color: </label><input type="text" name="yarn[][color]"><br>
      <label for="yarn[][count]">How many full skeins: </label><input type="text" name="yarn[][count]"><br>
      <label for="yarn[][scrap]">How much scrap: </label><input type="text" name="yarn[][scrap]"> oz.<br>


      <label for="yarn[][project_id]">Select a project: </label>
        <select name="yarn[][project_id]">
          <% current_user.projects.each do |project| %>
            <% if project.name == "Stash" %>
              <option value="<%= project.id %>" selected> <%= project.name %> </option>
            <% else %>
              <option value="<%= project.id %>"> <%= project.name %> </option>
            <% end %>
          <% end %>
          <option value=""> Add to New Project </option>
        </select><br>
    </div>

    <br><br>

    <div>
      <label for="yarn[][brand_id]">Select a brand: </label>
        <select name="yarn[][brand_id]">
          <% current_user.brands.each do |brand| %>
            <option value="<%= brand.id %>"> <%= brand.name %> </option>
          <% end %>
          <option value="" selected> Add to New Brand </option>
        </select><br>

      <label for="yarn[][color]">Color: </label><input type="text" name="yarn[][color]"><br>
      <label for="yarn[][count]">How many full skeins: </label><input type="text" name="yarn[][count]"><br>
      <label for="yarn[][scrap]">How much scrap: </label><input type="text" name="yarn[][scrap]"> oz.<br>


      <label for="yarn[][project_id]">Select a project: </label>
        <select name="yarn[][project_id]">
          <% current_user.projects.each do |project| %>
            <% if project.name == "Stash" %>
              <option value="<%= project.id %>" selected> <%= project.name %> </option>
            <% else %>
              <option value="<%= project.id %>"> <%= project.name %> </option>
            <% end %>
          <% end %>
          <option value=""> Add to New Project </option>
        </select><br>
    </div>

    <br><br>

    <div>
      <label for="yarn[][brand_id]">Select a brand: </label>
        <select name="yarn[][brand_id]">
          <% current_user.brands.each do |brand| %>
            <option value="<%= brand.id %>"> <%= brand.name %> </option>
          <% end %>
          <option value="" selected> Add to New Brand </option>
        </select><br>

      <label for="yarn[][color]">Color: </label><input type="text" name="yarn[][color]"><br>
      <label for="yarn[][count]">How many full skeins: </label><input type="text" name="yarn[][count]"><br>
      <label for="yarn[][scrap]">How much scrap: </label><input type="text" name="yarn[][scrap]"> oz.<br>


      <label for="yarn[][project_id]">Select a project: </label>
        <select name="yarn[][project_id]">
          <% current_user.projects.each do |project| %>
            <% if project.name == "Stash" %>
              <option value="<%= project.id %>" selected> <%= project.name %> </option>
            <% else %>
              <option value="<%= project.id %>"> <%= project.name %> </option>
            <% end %>
          <% end %>
          <option value=""> Add to New Project </option>
        </select><br>
    </div>

    <br><br>




  <input type="submit" value="Add Yarn">
</form>
