<h1>View this yarn</h1>
<h2><a href="/brands/<%= @yarn.brand.id %>"><%= @yarn.brand.name %></a> - <%= @yarn.color %></h2>
<p>Current Project: <a href="/projects/<%= @yarn.project.id %>"><%= @yarn.project.name %></p></a>
<% if @yarn.count && @yarn.scrap %>
  <% if @yarn.scrap.to_f == 0.0 %>
    <p>Full skeins in stash: <%= @yarn.count %></p>
  <% else %>
    <p>Full skeins in stash: <%= @yarn.count %></p>
    <p>Scraps in stash: <%= @yarn.scrap.to_f %> oz.</p>
  <% end %>
<% elsif @yarn.count %>
  <p>Full skeins in stash: <%= @yarn.count %></p>
<% elsif @yarn.scrap %>
  <p>Scraps in stash: <%= @yarn.scrap.to_f %> oz.</p>
<% end %>

<% if current_user == @yarn.project.user %>
  <form action="/yarns/<%= @yarn.id %>/edit" method="get">
    <input type="submit" value="Update Yarn">
  </form>

  <form action="/yarns/<%= @yarn.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Yarn">
  </form>
<% end %>
