<h2><a href="/brands/<%= @yarn.brand.id %>"><%= @yarn.brand.name %></a> - <%= @yarn.color %></h2>
<p>Current Project: <%= @yarn.project.name %></p>
<% if @yarn.count && @yarn.scrap %>
  <p>Full skeins in stash: <%= @yarn.count %></p>
  <p>Scraps in stash: <%= @yarn.scrap %></p>
<% elsif @yarn.count %>
  <p>Full skeins in stash: <%= @yarn.count %></p>
<% elsif @yarn.scrap %>
  <p>Scraps in stash: <%= @yarn.scrap %></p>
<% end %>

<% if current_user == @yarn.project.user %>
  <form action="/yarns/<%= @yarn.id %>/edit" method="get">
    <input type="submit" value="Update Yarn">
  </form>

  <form action="/yarns/<%= @yarn.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Yarn">
  </form>
<% end %>
