<h2><a href="/projects">My Projects:</h2>
<ul>
  <% current_user.projects.each do |wip| %>
  <li><a href="/projects/<%= wip.id %>"><%= wip.name %></a></li>
  <% end %>
</ul>
<form action="/projects/new" method="get">
  <input type="submit" value="Create a new project">
</form>

<h2><a href="/yarns">My Yarn:</h2>
<ul>
  <% current_user.yarns_by_brand.each do |yarn| %>
  <li><a href="/brands/<%= yarn.brand.id %>"><%= yarn.brand.name %></a> - <a href="/yarns/<%= yarn.id %>"><%= yarn.color %></a></li>
  <% end %>
</ul>
<form action="/yarns/new" method="get">
  <input type="submit" value="Add new yarn">
</form>
<form action="/yarns/new_bulk" method="get">
  <input type="submit" value="Add multiple yarns">
</form>

<h2><a href="/accessories">My Tools:</h2>
<ul>
  <% current_user.accessories.each do |item| %>
  <li><a href="/accessories/<%= item.id %>"><%= item.name %></a></li>
  <% end %>
</ul>
<form action="/accessories/new" method="get">
  <input type="submit" value="Add a tool">
</form>
