<h1>Welcome, <%= current_user.name %>!</h1>
<h2>How can we help you get organized today?</h2>
<h3>Your Projects:</h3>
<ul>
  <% current_user.projects.each do |wip| %>
  <li><a href="/projects/<%= wip.id %>"><%= wip.name %></a></li>
  <% end %>
</ul>

<h3>Your Yarn:</h3>
<ul>
  <% current_user.yarns.each do |item| %>
  <li><a href="/brands/<%= item.brand.id %>"><%= item.brand.name %></a> - <a href="/yarns/<%= item.id %>"><%= item.color %></a></li>
  <% end %>
</ul>

<h3>Your Accessories:</h3>
<ul>
  <% current_user.accessories.each do |item| %>
  <li><a href="/accessories/<%= item.id %>"><%= item.name %></a></li>
  <% end %>
</ul>
