<!doctype html>
<html>
  <head>
    <title>Crafting Stash Organizer</title>
  </head>
  <body>

    <nav>
      <% if logged_in? %>
        <% if current_user.name.end_with?("s") %>
          <p><%= current_user.name %>' Stash Organizer</p>
        <% else %>
          <p><%= current_user.name %>'s Stash Organizer</p>
        <% end %>
        <a href="/">Home</a><br>
        <a href="/projects">My Projects</a> - <a href="/projects/new">New Project</a><br>
        <a href="/yarns">My Yarn</a> - <a href="/yarns/new">New Yarn</a> - <a href="/yarns/new_bulk">Many New Yarns</a><br>
        <a href="/accessories">My Tools</a> - <a href="/accessories/new">New Tool</a><br>
        <a href="/account">Account Details</a><br>
        <a href="/logout">Log Out</a><br>

      <% else %>
        <p><a href="/login">Log In</a></p>
        <p><a href="/signup">Join</a></p>
      <% end %>
    </nav>
    <div class="container">
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
    <% end %>

      <%= yield %>

    </div>
  </body>
</html>
