<h3>Update <%= @accessory.name %>:</h3>

<form action="/accessories/<%= @accessory.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Name: </label><input type="text" name="name" value="<%= @project.name%>">
  <label for="project">Update Project: </label>
  <select name="project">
    <% current_user.projects.each do |project| %>
      <option value="<%= project.id %>"> <%= project.name %> </option>
    <% end %>
  </select>
  <input type="submit" value="Update">
</form>
