<h1>Your Accessories</h1>

<% current_user.accessories.each do |acc| %>
  <div>
    <h3><%= acc.name %></h3>
    <p>Current Project: <a href="/projects/<%= acc.project.id %>"><%= acc.project.name %></a></p>

    <form action="/accessories/<%= acc.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <select name="project_id">
        <% current_user.projects.each do |project| %>
          <option value="<%= project.id %>"> <%= project.name %> </option>
        <% end %>
      </select>
      <input type="submit" value="Switch Project">
    </form>
  </div>
<% end %>

<br>

<form action="/accessories/new" method="get">
  <input type="submit" value="Add Tool">
</form>
